body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
  font-size: 18px;
  margin-left: 32px, auto;
  color: rgb(8, 50, 50)
  }
p.narrow {
    max-width: 300px;
}
p.wide {
  max-width: 450px;
}