body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
  font-size: 18px;
  max-width: 50%;
  margin-left: 32px, auto;
  color: rgb(8, 50, 50)
  }